<div class="container card dataform">
  <h4><%= @title %></h4>

  <form method="post" action="">
    <div class="form-group sm">
      <label for="exampleFormControlInput1">Title</label>
      <input type="text" class="form-control" id="topicTitle" placeholder="Title" name="topic[title]">
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea class="form-control" id="topicDescription" rows="3" name="topic[description]"></textarea>
    </div>
    <button type="submit" class="authbutton btn btn-primary">Add Topic</button>
  </form>
</div>


<%if @topics %>
  <div class="table-responsive table_boundry">
    <table class="table  table-hover">
      <thead>
      <tr>
        <th scope="col">Id </th>
        <th scope="col">Title</th>
        <th scope="col">Last Updated</th>
        <th scope="col">Actions</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <th scope="row"><%= topic.id%></th>
          <td><%=topic.title%></td>
          <td><%=topic.updated_at.to_date%></td>
          <td>
            <form method="get" action="/admin/topic/<%=topic.id %>">
              <!--        <input id="hidden" type="hidden" name="_method" value="GET">-->
              <input type="submit" value="Edit" class="btn btn-outline-primary btn-sm">
            </form>
          </td>

          <td>
            <form method="get" action="/admin/topic/<%=topic.id%>/resources">
              <input type="submit" value="Resource" class="btn btn-outline-info btn-sm">
            </form>
          </td>
          <td>
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#myModal<%= topic.id %>">Delete</button>
          </td>
          <!-- Modal HTML -->
          <div id="myModal<%= topic.id %>" class="modal fade modal-sm>">
            <div class="modal-dialog modal-confirm">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                  </div>
                  <h4 class="modal-title">Are you sure?</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <p>Do you really want to delete the topic? This process cannot be undone.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                  <form method="post" action="/admin/topic/<%=topic.id %>/delete">
                    <input id="hidden" type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete" class="btn btn-outline-danger" >
                  </form>
                </div>
              </div>
            </div>
          </div>
        </tr>
      <%end%>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="row dash-row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body text-center">
          <h3 class="text-center">No topic available yet </h3>
        </div>
      </div>
    </div>
  </div>


<% end %>



