
<h3>Welcome <%= @user.username%></h3>
<h1>Dashboard</h1>
<% if @user_topics %>
  <table class="table  table-hover">
    <thead>
    <tr>
      <th scope="col">Id </th>
      <th scope="col">Title</th>
      <th scope="col">Last Updated</th>
      <th scope="col">Actions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @user_topics.each do |topic| %>
      <tr>
        <th scope="row"><%= topic.id%></th>
        <td><%=topic.title%></td>
        <td><%=topic.updated_at%></td>
        <td>
          <form method="get" action="/topic/<%=topic.id %>">
            <!--        <input id="hidden" type="hidden" name="_method" value="GET">-->
            <input type="submit" value="View" class="btn btn-outline-info btn-sm">
          </form>
        </td>
        <td>
          <form method="get" action="user/topics/<%=topic.id %>/resources">
<!--            <input id="hidden" type="hidden" name="_method" value="DELETE">-->
            <input type="submit" value="Resources" class="btn btn-outline-danger btn-sm">
          </form>
        </td>
        <td>
        <form method="post" action="/user/topic/<%=topic.id %>/delete">
                      <input id="hidden" type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm">
        </form>
        </td>

      </tr>
    <%end%>
    </tbody>
  </table>
  <% else %>
  <h3>You have not added any topic</h3>
<% end %>

