
<div class="container">
  <h3><%=@title %></h3>
  <div class="row">

    <h4><%= @title %></h4>
  </div>
  <hr>

  <div class="row row-margin-bottom">
    <%  @topics.each do |topic|%>
    <div class="col-md-5 no-padding lib-item" data-category="view">
      <div class="lib-panel">
        <div class="row box-shadow">
          <div class="col-md-6">
            <img class="lib-img-show" src="http://lorempixel.com/850/850/?random=123">
          </div>
          <div class="col-md-6">
            <div class="lib-row lib-header">
              <%= topic.title %>
              <div class="lib-header-seperator"></div>
            </div>
            <div class="lib-row lib-desc">
              <%= topic.description[0..39] %>
              <div class="row">
                <%= topic.updated_at %>
                <form method="post" action="/user/topics/<%=topic.id %>">
                  <input type="submit" value="Select Topic" class="btn btn-outline-primary btn-sm">
                </form>
                <form method="get" action="/user/topics/<%=topic.id %>/resources">
                  <input type="submit" value="View Resources" class="btn btn-outline-info btn-sm">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-1"></div>
    <% end %>
  </div>

</div>